In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("Data Analyst - Test Data - US.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#data cleaning and checking for null values
df.isna().value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df.Location.isna().value_counts()

In [ ]:
file=df.replace(to_replace=["New York, NY", "NY", "New York", "new york","NYC"],
             value="New York")

In [ ]:
file.Location.isna().value_counts()

In [ ]:
file_without_null = file[file["Location"].isna() != True]

In [ ]:
file_without_null.Location.isna().value_counts()

In [ ]:
file_without_null["Location"]=file_without_null["Location"].astype(str)

In [ ]:
file_without_null.dtypes

In [ ]:
occurence= pd.DataFrame(file_without_null.Location.value_counts())
occurence

In [ ]:
occurence.head(15).to_excel("Occurence data.xlsx")

In [ ]:
tenloc=occurence.sort_values("Location", ascending=False).head(10)
plt.bar( height="Location",x=tenloc.index, data=tenloc)
plt.xticks(rotation=90)
plt.savefig("fig1.jpg", bbox_inches="tight")

In [ ]:
file.dtypes

In [ ]:
file["Review"]=file["Review"].astype(str)

In [ ]:
file.dtypes

In [ ]:
from collections import Counter
file_words = " ".join(file['Review'].tolist()).split(" ")
column_names = ["word","count"]
most_common_words_in_location = pd.DataFrame([dict(zip(column_names,word_count)) for word_count in Counter(file_words).most_common(100)])

In [ ]:
type(file_words)

In [ ]:
file_words1=pd.Series(file_words)

In [ ]:
filtered_words=file_words1[~file_words1.isin([ "I", "The", "was", "with", "by","at", "\n", "and","is", "We", "had","has", "them",
                                     "and", "or", " ", "the", "it","would","on","my","to","Read", "for","as",
                                     "while","a","but","should","been","more","less","Do","do","will","because",
                               "we","not", "were","than","very","*the","more\n"," ","in","of","that","are","our","this",
                               "that","you","have","all","It","so","be","no","all","they","from","an","like","  ","there",
                               "when","get","one","us","only","which","me","could","here","\r\n","This","just","up","close","very"])]

In [ ]:
filtered_words=filtered_words.str.strip()
filtered_words.replace(to_replace=["great","Great"],
                                      value="Great")

In [ ]:
column_names = ["word","count"]
most_common_words_in_location = pd.DataFrame([dict(zip(column_names,word_count)) for word_count in Counter(filtered_words).most_common(20)])

In [ ]:
most_common_words_in_location.loc[0].word

In [ ]:
most_common_words_in_location["word"].replace([most_common_words_in_location.loc[0].word],np.NaN, inplace=True)

In [ ]:
most_common_words_in_location.dropna(inplace=True)
most_common_words_in_location.to_excel("Most common words.xlsx")
most_common_words_in_location

In [ ]:
from wordcloud import WordCloud
plt.figure(figsize=(10,8))
wrdcloud=WordCloud(relative_scaling=1, colormap="Blues", width=2800, height=1024).generate(" ".join(most_common_words_in_location["word"].tolist()))
plt.imshow(wrdcloud)
plt.axis("off")
plt.savefig("Wordcloud.jpg", bbox_inches="tight")

In [ ]:
file

In [ ]:
date_df=file.date
date_df=pd.DataFrame(date_df)

In [ ]:
date_df.dtypes

In [ ]:
date_df["date"].value_counts()

In [ ]:
day_df=pd.DataFrame(date_df["date"].dt.day.value_counts())
day_df=day_df.reset_index()
day_df=day_df.sort_values("index")
day_df=day_df.rename(columns={"index": "Day of the month",
                              "date": "Reviews"})
day_df.reset_index(inplace=True)
day_df.drop("index",axis=1,inplace=True)
day_df.set_index("Day of the month",inplace=True)

In [ ]:
day_df.to_excel("Day occurences.xlsx")
day_df

In [ ]:
plt.figure(figsize=(10,7))
plt.hist(date_df["date"].dt.day, histtype= "stepfilled",bins=31)
plt.grid(True)

In [ ]:
date_df["date"].dt.month.value_counts()

In [ ]:
b

In [ ]:
date_df["date"].dt.month.value_counts()

In [ ]:
b=date_df.groupby([date_df["date"].dt.year, date_df["date"].dt.month]).count()
b.rename(columns={"date":"occurences"}, inplace=True)

In [ ]:
b.to_excel("montly occurences.xlsx")